startup
build --cxxopt=-std=c++2b
build --noincompatible_sandbox_hermetic_tmp
build --incompatible_enable_cc_toolchain_resolution
build --cxxopt=-Isrc
build --registry=https://raw.githubusercontent.com/NzSN/bazel-central-registry/main/

build:debug --cxxopt=-std=c++2b
build:debug --strip=never
build:debug --noincompatible_sandbox_hermetic_tmp
build:debug --copt -fsanitize=address
build:debug --copt -DADDRESS_SANITIZER
build:debug --copt -O0
build:debug --copt -g
build:debug --copt -fno-omit-frame-pointer
build:debug --linkopt -fsanitize=address
build:debug --cxxopt=-fconcepts-diagnostics-depth=10

# honor the setting of `skipLibCheck` in the tsconfig.json file
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# Between Bazel 6.0 and 6.3, you need all of this, to avoid discarding the analysis cache:
build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# Before Bazel 6.0, only the 'build' and 'fetch' lines work.
