startup

build:release --cxxopt=-O3

build --cxxopt=-std=c++17
build --noincompatible_sandbox_hermetic_tmp
build --incompatible_enable_cc_toolchain_resolution
build --cxxopt=-Isrc
build --cxxopt=-pthread
build --registry=https://raw.githubusercontent.com/NzSN/bazel-central-registry/main/

build:debug --strip=never
build:debug --copt -fsanitize=address
build:debug --linkopt -fsanitize=address
build:debug --cxxopt=-fsanitize=undefined
build:debug --linkopt=-fsanitize=undefined
build:debug --copt -DADDRESS_SANITIZER
build:debug --copt -O0
build:debug --copt -g
build:debug --copt -fno-omit-frame-pointer

build:thread_safety --repo_env=CC=clang++-15
build:thread_safety --cxxopt -Wthread-safety
build:thread_safety --action_env=CXXFLAGS=-stdlib=libc++
build:thread_safety --action_env=LDFLAGS=-stdlib=libc++
build:thread_safety --action_env=BAZEL_CXXOPTS=-stdlib=libc++
build:thread_safety --action_env=BAZEL_LINKLIBS=-l%:libc++.a:-l%:libc++abi.a
build:thread_safety --define force_libcpp=enabled
build:thread_safety --action_env=BAZEL_LINKOPTS=-lc++:-lm

# honor the setting of `skipLibCheck` in the tsconfig.json file
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# Between Bazel 6.0 and 6.3, you need all of this, to avoid discarding the analysis cache:
build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# Before Bazel 6.0, only the 'build' and 'fetch' lines work.
